.demoBlock{
  padding-bottom: 12px;
}

.title {
  padding: 12px 12px 8px;
  color: #333;
  font-size: 14px;
}
.setction{
  background-color: #f7f8fa;
}

.space{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}